.App {
  
}


.scroller{
  height: 100vh;
}



.fake{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: black;
  transform: translate(-100%,0);
}


