

.header{
  background:orange;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}


.gnb{
  display: flex;;
}


.gnb > li{
  margin-left: 20px;
}